:root {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial",
    sans-serif; /* Use San Francisco font on Apple devices */
  --dark: #2c2c2e; /* Slightly less black for a softer dark mode */
  --light: #fafafa; /* Slightly off-white for softer light mode */
  --teal: #00a8e5; /* Apple's blue-ish highlight color */
  --ruby: #c51f5d; /* Adjusted for a more muted ruby */
}

html,
body,
* {
  margin: 0;
  padding: 0;
  border: none;
  font-weight: 400; /* Regular weight similar to Apple's typography */
  text-transform: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: background-color 0.5s, color 0.5s; /* Smooth transitions */
}

body.dark-mode {
  background-color: var(--dark);
  color: var(--light);
}

body.light-mode {
  background-color: var(--light);
  color: var(--dark);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div {
  border: 2px solid var(--ruby);
  border-radius: 1rem;
  padding: 2rem;
  max-width: 600px; /* Limiting width for better appearance on large screens */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

input,
button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid var(--dark);
  margin: 0.5rem 0;
  font-size: 1.6rem;
  transition: all 0.3s; /* Smooth transition for hover states */
}

input {
  width: 100%;
  border: 1px solid var(--teal);
}

button {
  background-color: var(--teal);
  color: var(--light);
  border: none;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--dark);
  color: var(--teal);
}

.switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

/* Toggle Switch Styles */

.switch-wrapper {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .switch-slider {
  background-color: #2196f3;
}

input:checked + .switch-slider:before {
  transform: translateX(26px);
}

/* Small Screen */
@media only screen and (max-width: 480px) {
  div {
    padding: 2rem;
    gap: 1rem;
  }

  input,
  button {
    height: 4rem;
    font-size: 1.2rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  img {
    height: 8rem;
  }

  .switch {
    width: 58px;
    height: 28px;
  }

  .slider {
    border-radius: 28px;
  }

  .slider:before {
    height: 20px;
    width: 20px;
  }

  .switch__input:checked + .slider:before {
    transform: translateX(20px);
  }
}

/* Medium Screen */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  div {
    padding: 3rem;
    gap: 1.5rem;
  }

  input,
  button {
    height: 4.5rem;
    font-size: 1.4rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  img {
    height: 9rem;
  }

  .switch {
    width: 63px;
    height: 33px;
  }

  .slider {
    border-radius: 33px;
  }

  .slider:before {
    height: 25px;
    width: 25px;
  }

  .switch__input:checked + .slider:before {
    transform: translateX(25px);
  }
}
